.landing-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  padding: 2rem;
}

.slogans {
  margin: 0;
  text-align: center;
  color: var(--color_text_default);
  margin-bottom: 2rem;
}

.slogans h1 {
  font-size: 45px;
}

.slogans p {
  font-size: 25px;
  text-align: center;
}

.button {
  width: auto;
  align-self: center;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}

.contacts {
  width: 100%;
  align-self: center;
  max-width: 600px;
  text-align: center;
  color: var(--color_text_default);
  text-decoration: none;
  border-top: 1px solid var(--color_primary_default);
  margin-top: auto;
}

.contacts h3 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.contacts p {
  margin: 5px 0;
  font-size: 22px;
  text-align: center;
}

.contacts a {
  color: var(--color_text_default);
  text-decoration: none;
  text-align: center;
}

