.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.topRow {
	display: flex;
	flex-direction: row;
	gap: 16px;
	width: 100%;
	align-items: flex-start;
}

.error {
  background-color: var(--color_destructive_default);
  color: var(--color_primary_contrast_default);
  font-size: 16px;
  text-align: center;
  padding: 12px 16px;
  margin-top: 16px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorClose {
    margin-left: 12px;
    font-weight: bold;
    cursor: pointer;
}

.spinnerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
