.helpers_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--color_element_border);
    padding: 20px;
    width: 75%;
}