.usersBox {
	background: var(--color_background_default);
	border: 1px solid var(--color_element_border);
	border-radius: 8px;
	padding: 16px;
	width: 70%;
	min-width: 400px;
	box-shadow: 0 1px 2px rgba(var(--color_text_default_rgb), 0.05);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.managePanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-top: 50px;
	margin-left: 40px;
}

.bottomRow {
	display: flex;
	justify-content: flex-start;
	margin-top: 2px;
}


