.usersBox {
	background: var(--color_background_default);
	border: 1px solid var(--color_element_border);
	border-radius: 8px;
	padding: 16px;
	width: 70%;
	min-width: 400px;
	box-shadow: 0 1px 2px rgba(var(--color_text_default_rgb), 0.05);
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.filtersTable {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 8px;
}

.filterButton {
	background: var(--color_surface_default);
	border: 1px solid var(--color_element_border);
	border-radius: 8px;
	padding: 6px 12px;
	cursor: pointer;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 6px;
}

.filterButton img {
	width: 20px;
	height: 20px;
}
