.usersBox {
	background: var(--color_background_default);
	border: 1px solid var(--color_element_border);
	border-radius: 8px;
	padding: 16px;
	width: 70%;
	min-width: 400px;
	box-shadow: 0 1px 2px rgba(var(--color_text_default_rgb), 0.05);
	display: flex;
	flex-direction: column;
	gap: 10px;
}



.filtersTable {
	display: flex;
	gap: 40px;
	margin-bottom: 8px;
}

.selectBox {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 8px;
}

.selectBox > * {
	background: var(--color_background_default);
	border-radius: 10px;
	padding: 8px 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.labelSelect {
  color: var(--color_text_default);
  transition: color 0.2s ease;
}

.labelActive {
  color: var(--color_text_default);
  background: var(--color_surface_default);
}


.filterButton {
	background: var(--color_surface_default);
	border: 1px solid var(--color_element_border);
	border-radius: 8px;
	padding: 6px 12px;
	cursor: pointer;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 6px;
}

.labelCount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

.selectAllCheckbox {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-weight: 500;
}

.selectAllCheckbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filterButton img {
	width: 20px;
	height: 20px;
}

.managePanel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-top: 50px;
	margin-left: 40px;
}

.filtersIconsBox {
	display: flex;
	gap: 30px;
}

.bottomRow {
	display: flex;
	justify-content: flex-start;
	margin-top: 2px;
}

.disabled {
  opacity: .4;
  pointer-events: none;
  cursor: default;
  filter: grayscale(100%);
}

