.templates {
  padding: 16px;
  color: var(--color_text_default);
}

.description {
  margin-bottom: 12px;
  color: var(--color_text_default_trans);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.tableBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color_element_border);
  border-left: 1px solid var(--color_element_border);
}

.title {
  font-size: 20px;
  margin-bottom: 22px;
  width: 100%;
  text-align: center;
  align-self: center;
}

.tableGroup {
  margin-bottom: 20px;
}

.groupTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
  text-align: left;
  padding-left: 8px;
  color: var(--color_text_default);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  background: var(--color_background_default);
  table-layout: fixed;
}

.table thead th {
  text-align: center;
  padding: 8px 12px;
  border-bottom: 1px solid var(--color_element_border);
  font-weight: 600;
  color: var(--color_text_default);
}

.table thead th:nth-child(1),
.table tbody td:nth-child(1) { width: 6%; }


.templatesTable thead th:nth-child(2),
.templatesTable tbody td:nth-child(2) { width: 48%; }

.table tbody td {
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

.loading {
  margin-top: 8px;
  color: var(--color_text_default_trans);
}

.error {
  margin-top: 8px;
  color: var(--color_destructive_default);
}

.iconButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  margin-top: 12px;
}

.icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
