.container {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-bottom: 1px solid var(--color_element_border);
    padding: 20px;
}


.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color_text_default);
  margin-bottom: 16px;
}

.span {
  margin-bottom: 20px;
}

.textarea-container {
  position: relative;
}

.textarea {
  width: 600px;
  height: 400px;
  font-size: 14px;
  border: 1px solid var(--color_element_border);
  padding: 10px;
  background-color: var(--color_surface_default);
  resize: none;
  z-index: 1;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* slightly transparent overlay */
  z-index: 2;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4px;
    width: 600px;
}

.button {
  width: 500px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.disabled {
  opacity: .4;
  pointer-events: none;
  cursor: default;
  filter: grayscale(100%);
}

.error {
  background-color: var(--color_destructive_default);
  color: var(--color_primary_contrast_default);
  font-size: 16px;
  text-align: center;
  padding: 12px 16px;
  margin-top: 16px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorClose {
    margin-left: 12px;
    font-weight: bold;
    cursor: pointer;
}
