.manage_div {
    display: flex;
	flex-direction: column;
    align-items: center;
  /*  position: absolute; !* блок вырывается из потока *!*/
  /*top: 100%;          !* чтобы встать под имеющимся контентом *!*/
  /*left: 0;*/
  /*right: 0;*/
}

.title {
    margin-top: 17px;
    font-family: var(--font_default), sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--color_text_default);
    padding-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.span {
  font-family: var(--font_default), sans-serif;
  color: var(--color_text_default);
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
  min-width: 300px;
}

.box {
  font-family: var(--font_default), sans-serif;
  color: var(--color_text_default);
  font-size: 13px;
  position: relative;
  border: 1px solid var(--color_primary_default);    /* основная граница */
  border-radius: 8px;        /* скругленные углы */
  padding: 20px;
  margin-top: 40px/* внутренние отступы */
}

.box-title {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 0 5px;
  margin-top: -0.7em;
  font-weight: 500;;
}


.error {
    background: var(--color_destructive_default);
    color: var(--color_background_default);
    padding: 16px;
    margin: 0 auto;
    min-width: 500px;
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
}

.iconButton {
  margin-top: 20px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.iconButton:hover {
  opacity: 0.6;
}

.iconImage {
  width: 30px;
  height: 30px;
}

.div_bold {
    font-weight: 700;
    text-align: center;
    display: inline-block;
    max-width: 250px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.button_submodal {
    min-width: 0 !important;
    width: 135px !important;
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 5px
}

.button-box{
    height: 50px;
}

.error {
    background: var(--color_destructive_default);
    color: var(--color_background_default);
    padding: 16px;
    margin: 0 auto;
    min-width: 500px;
    text-align: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.my-tooltip {
  background-color: pink !important;
  color: var(--color_destructive_default) !important;
  border: 1px solid var(--invalid_element_border) !important;
  padding: 3px  !important;
  border-radius: 4px !important;
  font-size: 13px !important;
  transform: translateY(42px) !important;
}
