/* DocumentsTab1.module.css */
.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color_text_default);
  margin-bottom: 16px;
}

.span {
  margin-bottom: 20px;
}

.textarea-container {
  position: relative;
}

.textarea {
  width: 500px;
  height: 100px;
  font-size: 14px;
  border: 1px solid var(--color_element_border);
  padding: 10px;
  background-color: var(--color_surface_default);
  resize: none;
  z-index: 1;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); /* slightly transparent overlay */
  z-index: 2;
}

.button {
  width: 500px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.error {
  color: var(--color_destructive_default);
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}
