.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bindedProf {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    border: 1px solid var(--color_primary_default);
    border-radius: 8px;
    width: 300px;
    margin: 0 0 5px 0;
}

.professionName {
    display: flex;
    align-items: center;
    width: 235px;
    padding-left: 10px;
    font-family: var(--font_default), sans-serif;
    color: var(--color_text_default);
    border-right: 1px solid var(--color_element_border);
    font-size: 13px;
    overflow: hidden;
}

.clampedText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: anywhere;
  text-align: start;
}

.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.iconButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.iconButton:hover {
  opacity: 0.6;
}

.iconImage {
  width: 30px;
  height: 30px;
}

.button_submodal {
    min-width: 0 !important;
    width: 135px !important;
    margin: 3px 5px 8px 5px;
}