.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--color_text_default);
  margin-bottom: 16px;
}

.formWrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.output {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textareaContainer {
  position: relative;
}

.textarea {
  width: 100%;
  height: 300px;
  font-size: 14px;
  border: 1px solid var(--color_element_border);
  padding: 10px;
  background-color: var(--color_surface_default);
  resize: none;
  z-index: 1;
}

.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4px;
}

.button {
  flex: 1;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
  filter: grayscale(100%);
}

.error {
  color: var(--color_destructive_default);
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}

