.admin-header {
  background-color: #cce6ff; /* Голубой фон для шапки */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-header h1 {
  margin: 0;
}

.admin-header button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-header button:hover {
  background-color: #0056b3;
}
